button {
	color: white;
	background-color: #5454cb;
	border: 3px solid #5454cb;
	border-radius : 10px;
	padding: 5px;
}

table, td, th {
	padding: 20px;
}

/* table tr:nth-of-type(2n) td { */
/* 	border-bottom: 1px solid #5454cb; */
/* } */

body {
	display: block;
	margin: 8px;
	background-color: #606060;
	color: #333;
	text-align: center;
}
.card {
	/* Add shadows to create the "card" effect */
	background-color: #f8f8f8;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
}

.KB{
	margin: 0 auto;
	width : 80%;
}

.inputb{
	color: white;
	background-color: #5454cb;
	border: 3px solid #5454cb;
	border-radius : 10px;
	padding: 5px;
}

.header {
	padding: 20px;
	margin: 10px auto;
}

textarea {
	width : 90%;
	min-height: 350px;
	padding : 20px;
	background-color: #f8f8f8;
	border : 2px solid #9a9acb;
	color : #333;
	border-radius : 10px;
}

.KC{
	margin: 0 auto;
	width : 90%;
	min-height: 40px;
	padding : 20px;
	background-color: #f8f8f8;
	border : 2px solid #9a9acb;
	color : #333;
	border-radius : 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}
